{#
  ./templates/tags/index.html.twig
  Variables disponibles:
    -
#}
{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }} - Liste des tags
{% endblock %}

{% block content1 %}
  <h3>Liste des tags</h3>
{% endblock %}
