{#
  ./templates/posts/index.html.twig
  Variables disponibles:
    -
#}

{% block title %}
  Liste des posts
{% endblock %}
{% block content1 %}
  <h3>Liste des posts</h3>
  <ul>
    {% for post in posts %}
      <li>
        <a href="{{ path('app_pages_show', {
            'limit': 5,
          'id': post.id,
          'slug': post.slug
        }) }}">
          {{ post.titre }}
        </a>

      </li>
    {% endfor %}
  </ul>
{% endblock %}
